blinker==1.8.2
Flask==3.0.3
Flask-Limiter>=3.3.0
imbalanced-learn==0.12.3
imblearn>=0.0
joblib==1.4.2
matplotlib==3.9.1
numba==0.60.0
numpy==2.0.1
pandas==2.2.2
pip==24.2
plotly==5.23.0
pyyaml==6.0.1
seaborn==0.13.2
scikit-learn==1.5.1
shap>=0.46.0
xgboost==2.1.1